WEBASPNETMVCWCFSECIDEN/Connected Services/UsuariosService/UsuariosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50558/UsuariosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebPruebaEntities" />
  <xs:element name="ObtenerUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebPruebaEntities" minOccurs="0" name="ObtenerUsuariosResult" nillable="true" type="q1:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebPruebaEntities" minOccurs="0" name="entity" nillable="true" type="q2:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebPruebaEntities" minOccurs="0" name="CrearUsuariosResult" nillable="true" type="q3:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebPruebaEntities" minOccurs="0" name="enitity" nillable="true" type="q4:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUsuariosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUsuariosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebPruebaEntities" minOccurs="0" name="ObtenerUsuarioByIdResult" nillable="true" type="q5:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>