WEBASPNETMVCWCFSECIDEN/Connected Services/UsuariosService/UsuariosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebPruebaEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebPruebaEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuarios" nillable="true" type="tns:Usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarios" nillable="true" type="tns:ArrayOfUsuarios" />
  <xs:complexType name="Usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="UsuId" type="xs:int" />
      <xs:element minOccurs="0" name="UsuNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuarios" nillable="true" type="tns:Usuarios" />
</xs:schema>